<form action="/search" method="get">
  <label for="query">Search term:</label>
  <input id="query" name="query" type="text">
  <button type="submit">Search</button>
</form>


<% @meats.each do |meat| %>
  <h3><%= meat.name %></h3>
<% end %>
