<h1><%= @category.name %>:</h1>


<ol>
  <% @category.meats.each do |meat| %>
    <%= link_to meat.name, category_meat_path(meat) %>
  <% end %>
</ol>

<%= link_to "Add a meat to " + @category.name, new_category_meat_path(@category, @meat) %>
